@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

*{
    font-family: Besley, serif;
}

.header{
    background: rgb(26, 85, 14);
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-around;

}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    
  }

  .left, .right {
    display: flex;
    align-items: center;
    color: #eee;
  }

  .links{
    font-weight: 800;
    font-size: larger;
    gap: 25px;
  }

  .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(111, 153, 93);
    font-family: Besley, serif;
    color: white;
  }

  .maintext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #eee;
  }

  .logo{
    display: flex;
    flex-basis: 50px;
    max-width: 20px;
  }

  .signup{

  }

  .text{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 500;
  }

  img {
    width: 200px;
    height: 200px;
  }
  
  .title {
    display: flex;
    font-size: 26px;
    justify-content: center;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 50px;
  }
  
  .info {
    max-width: 200px;
    border: 3px solid;
    border-radius: 10%;
    border-color: rgb(20, 112, 30);
    box-shadow: goldenrod;
    padding: 20px;
  }
  
  .quote{
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .saying{
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    color: #eee;
    font-size: x-large;
    font-style: italic;
    font-weight: 600;
    font-family: Verdana;
    margin-bottom: 10px;
    ;
  }

  .author{
    justify-content: center;
    margin-left: 60%;
    margin-bottom: 50px;
    color: rgb(12, 71, 12);
    font-weight: 600;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .contact{
    display: flex;
    justify-content: center;
  }

.contain{
    display: flex;
    flex-direction: column;
    background-color: rgb(143, 178, 120);
    margin-bottom: 50px;
    padding: 30px;
    padding-left: 8%;
    padding-right: 8%;
    border: 2px solid ;
    border-radius: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup1{
    display: flex;
    align-items: flex-end;
    max-width: 100px;
}

.footer{
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    padding: 20px;
    background-color: rgb(26, 85, 14);
    color: white;
    font-size: larger;
    font-weight: 600;
    font-family: Besley, serif;
}