@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

*{
    font-family: Besley, serif;
}

.header{
    background: rgb(26, 85, 14);
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
    text-decoration: none;
  }

  .left, .right {
    display: flex;
    align-items: center;
    color: #eee;
    text-decoration: none;
  }

  .links{
    font-weight: 800;
    font-size: larger;
    gap: 30px;
    text-decoration: none;
  }

  .links a {
    text-decoration: none;
    display: block;
    font-size: larger;
    padding: 22px;
    color: white;
  }
  

  .links a:hover {
    background-color: darkolivegreen;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 1px black;
  }

  .links a:visited{
    text-decoration: none;
  }

  .description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color:rgb(111, 153, 93);
    font-family: Besley, serif;
    color: white;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    gap: 20px;
    margin-left: 10%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .maintext{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 150%;
    color: #eee;
    text-shadow: 0 0 3px #07461a, 0 0 5px #0a0a12;
  }

  .subtext{
    font-size: larger;
    font-weight: 500;
    color: #eee;
  }

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
 
  }

  .logo img{
    width: 100%;
    height: 200px;
  }

  .signup{
    display: flex;
    justify-content: center;
    padding: 10px;
    max-height: 40px;
    width: 100px;
    align-items: center;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
    color: #eee;
    background-color: rgb(26, 85, 14);
    border: 1px solid #f7faf7;
  }

  .signup:hover{
    box-shadow: 0 0 30px white;
  }

  .text{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
    margin-top: 10px;
  }

  img {
    width: 200px;
    height: 200px;
  }
  
  .title {
    display: flex;
    font-size: 26px;
    justify-content: center;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 50px;
  }
  
  .info {
    max-width: 200px;
    border: 3px solid;
    border-radius: 10%;
    border-color: rgb(20, 112, 30);
    box-shadow: goldenrod;
    padding: 20px;
    
  }

  .info:hover{
    box-shadow: 0 0 30px 10px #48ab4f;
  }
  
  .quote{
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .saying{
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    color: #eee;
    font-size: xx-large;
    font-style: italic;
    font-weight: 200;
    font-family: Verdana;
    margin-bottom: 10px;
    ;
  }

  .author{
    justify-content: center;
    margin-left: 50%;
    margin-bottom: 100px;
    color: black;
    font-weight: 600;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 178, 120);
    margin-bottom: 100px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    border: 2px solid ;
    border-radius: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.contain{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 10px;
}

.contacttext{
    font-size: larger;
    font-weight: 600;
}

.purchase{
    font-size: large;

}

.signup1{
    display: flex;
    padding: 15px;
    max-height: 60px;
    width: auto;
    align-items: center;
    margin-left: 10%;
    border-radius: 15px;
    font-size: larger;
    font-weight: 600;
    color: #eee;
    background-color: #48ab4f;
    border: 1px solid #f7faf7;
    flex-shrink: no shrink;
    flex-wrap: nowrap;
}

.signup1:hover{
    box-shadow: 0 0 30px white;
  }

.footer{
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    padding: 20px;
    background-color: rgb(26, 85, 14);
    color: white;
    font-size: larger;
    font-weight: 600;
    font-family: Besley, serif;
}